body {
    background-image: url(https://t4.ftcdn.net/jpg/00/61/06/27/360_F_61062796_NF87GPnWV0fQ2LhoYNlyjev0PocRwZj9.jpg);
    background-size: cover;
    background-position: center;
}
.pathcreator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}