body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/014/230/987/original/realistic-car-speedometer-background-with-space-for-text-vector.jpg);
    background-size: center;
    background-position: center;
}
.pathcreator {
    width: 300px;
    margin: 0 auto;
    font-size: large;

}

